
root = true

# all files
[*]
end_of_line = lf
insert_final_newline = true

# js and json
[*.js]
indent_style = space
indent_size = 4

# package.json format is different
[*.json]
indent_style = space
indent_size = 2
